<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Properties>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss,SSS} [%t] %-5level [%c{1.}] %msg%n</Property>
        <Property name="logFileName">logs/copycat.log</Property>
        <Property name="logFilePattern">logs/copycat-%d{yyyy-MM-dd}.log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>

        <RollingFile name="FileLogger" fileName="${logFileName}" filePattern="${logFilePattern}">
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>K

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Root>
    </Loggers>
</Configuration>
